body {
  overflow-x: hidden;
}
.slide-in {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #8a5636;
  transform-origin: left;
  z-index: 1000;
}

.slide-out {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #8a5636;
  transform-origin: right;
  z-index: 10000;
}

.CTA {
  text-decoration: none;
}

.link {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 12px;
}

@media only screen and (max-width: 500px) {
  .link {
    font-size: 8px;
  }
}

@media only screen and (min-width: 1600px) {
  .link {
    font-size: 16px;
  }
}

.menu-container {
  position: fixed;
  left: -2000px;
  top: 0;
  display: flex;
  justify-content: center;
  background: white;
  width: 50vw;
  height: 100%;
  align-items: center;
  z-index: 1000;
  transition: left 0.4s ease-in-out;
}

.menu-container.show {
  left: 0px;
}

.hidden {
  position: fixed;
  top: -1000px;
  transition: all 0.7s;
  background-color: white;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.7s;
  background-color: white;
  z-index: 50;
}
